
.navbar {
    background-color: #00659B;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;

}
.home {
    background-color: #00659B;
}
.categorias {
    background-color: #822f92;
}
.sobre {
    background-color: #3b21af;
}
.footer {
    background-color: #00659B;
    color: aliceblue;
}


.margin {
    padding-top: 50px;
    padding-bottom: 50px;
}

h3 {
    color: #F79256;
}

h1 {
    color: #F79256;
}